<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="/static/style.css">
    <script>var goog = { define(name, value) { return value; } };</script>
    {{range .Scripts}}
      <script type="module" src="{{.}}"></script>
    {{end}}
  </head>
  <body>
    <nav>
      <h1>{{.Title}}</h1>
      <p id="status-box" class="status-unknown">
        <span id="status-icon">?</p>
        <span id="status-text">Not connected</span>
      </p>
      <p><a href="/release/">Release</a></p>
    </nav>
  </body>
</html>
