body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #666;
  color: #fc2;
}
#m {
  position: relative;
}
#c {
  background: #000;
  display: block;
}
#c,
#i {
  width: 100%;
  height: 100%;
  position: absolute;
  text-align: center;
}
#i p {
  position: absolute;
  bottom: 0;
  margin: 8px;
  font-size: 70%;
}
#i p+p {
  right: 0;
}
#p,
b {
  font-size: 3ex;
}
.s #i, #h {
  visibility: hidden;
}
.s #h {
  visibility: visible;
}
#h {
  font-family: "Noto Color Emoji";
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  background: #111;
  width: 10em;
  margin: 0;
  text-align: center;
  border: 0.2em solid #fc2;
  border-top: none;
  padding: .5ex;
}