<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="/static/style.css">
    <script>var goog = { define(name, value) { return value; } };</script>
    <script type="module" src="{{.Main}}"></script>
  </head>
  <body>
    <h1>{{.Title}}</h1>
  </body>
</html>
